* {
  margin: 0;
  padding: 0;
}
.content {
  margin-left: auto;
  margin-right: auto;
}
.content li {
  list-style-type: none;
  /* Убираем маркеры */
}
.content .left-col {
  width: 500px;
  float: left;
  background-color: #3d3e38;
}
.content .left-col .about-me .about-me__content {
  width: 500px;
  height: 380px;
  text-align: center;
  background-color: #2c251b;
  color: white;
}
.content .left-col .about-me .about-me__content .about-me__photo {
  margin-top: 35px;
  width: 200px;
  height: 200px;
  border-radius: 160px 160px 160px 160px;
}
.content .left-col .about-me .about-me__content .about-me__work {
  margin-top: 15px;
}
.content .left-col .about-me .about-me__content .about-me__work .about-me__name {
  font-size: 30px;
}
.content .left-col .about-me .about-me__content .about-me__work .about-me__dev {
  font-size: 20px;
}
.content .left-col .my-contacts {
  margin-left: 15px;
  margin-top: 20px;
}
.content .left-col .my-contacts .my-contacts__icon {
  background-image: url("img/person.png");
  width: 18px;
  height: 18px;
  background-size: cover;
  stroke: white;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.content .left-col .my-contacts .my-contacts_text {
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-size: 30px;
}
.content .left-col .my-contacts .white-text {
  color: white;
}
.content .left-col .my-contacts .line {
  width: 400px;
  margin-bottom: 20px;
  margin-left: 35px;
  border-width: 1px;
  border-color: #4a4a4a;
}
.content .left-col .my-contacts .my-contacts__content {
  margin-left: 35px;
  width: 500px;
  margin-right: 100px;
  line-height: 1.5;
  margin-bottom: 55px;
  color: white;
}
.content .left-col .my-contacts .my-contacts__content .my-contacts__question {
  margin-right: 10px;
  float: left;
}
.content .left-col .my-skills {
  margin-left: 15px;
}
.content .left-col .my-skills .my-skills__icon {
  background-image: url("img/light.png");
  float: left;
  width: 15px;
  height: 22px;
  background-size: cover;
  margin-top: 10px;
  margin-right: 10px;
}
.content .left-col .my-skills .my-skills__text {
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-size: 30px;
}
.content .left-col .my-skills .white-text {
  color: white;
}
.content .left-col .my-skills .line {
  width: 400px;
  margin-bottom: 20px;
  margin-left: 35px;
  border-width: 1px;
  border-color: #4a4a4a;
}
.content .left-col .my-skills .my-skills__content {
  height: 280px;
  margin-left: 35px;
}
.content .left-col .my-skills .my-skills__content .my-skills__skills {
  color: white;
}
.content .left-col .my-skills .my-skills__content .my-skills__skills li {
  line-height: 1.5;
}
.content .left-col .my-skills .my-skills__content .my-skills__levels li {
  line-height: 1.5;
}
.content .left-col .my-skills .my-skills__content .my-skills__levels .dark-point {
  border-radius: 160px 160px 160px 160px;
  border: 5px solid rgba(87, 104, 106, 0.95);
  width: 3px;
  height: 3px;
  background-color: rgba(87, 104, 106, 0.95);
  display: inline-block;
}
.content .left-col .my-skills .my-skills__content .my-skills__levels .light-point {
  border-radius: 160px 160px 160px 160px;
  border: 5px solid #dcdcdc;
  width: 3px;
  height: 3px;
  background-color: #dcdcdc;
  display: inline-block;
}
.content .right-col {
  width: 500px;
  float: left;
  margin-left: 100px;
  margin-top: 35px;
}
.content .right-col .my-experience .my-experience__icon {
  background-image: url("img/file.png");
  float: left;
  width: 15px;
  height: 18px;
  background-size: cover;
  margin-top: 10px;
  margin-right: 10px;
}
.content .right-col .my-experience .my-experience__text {
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-size: 30px;
}
.content .right-col .my-experience .my-experience__text li {
  line-height: 1.5;
}
.content .right-col .my-experience .line {
  width: 400px;
  margin-bottom: 20px;
  margin-left: 35px;
  border-width: 1px;
  border-color: #4a4a4a;
}
.content .right-col .my-experience .my-experience__content {
  height: 330px;
}
.content .right-col .my-experience .my-experience__content li {
  line-height: 1.5;
}
.content .right-col .my-experience .my-experience__content .normal-bold-text {
  font-weight: bold;
  margin-left: 35px;
}
.content .right-col .my-experience .my-experience__content .normal-bold-text {
  font-weight: bold;
  margin-left: 35px;
}
.content .right-col .my-education .my-education__icon {
  width: 27px;
  height: 17px;
  background-size: cover;
  background-image: url("img/hat.png");
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.content .right-col .my-education .my-education__text {
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-size: 30px;
}
.content .right-col .my-education .line {
  width: 400px;
  margin-bottom: 20px;
  margin-left: 35px;
  border-width: 1px;
  border-color: #4a4a4a;
}
.content .right-col .my-education .my-education__content {
  height: 200px;
  line-height: 1.5;
}
.content .right-col .my-education .my-education__content .normal-bold-text {
  font-weight: bold;
  margin-left: 35px;
}
.content .right-col .my-education .my-education__content .normal-bold-text {
  font-weight: bold;
  margin-left: 35px;
}
.content .right-col .my-education .my-education__content .normal-text {
  margin-left: 35px;
}
.content .right-col .my-education .my-education__content .normal-text {
  margin-left: 35px;
}
.content .right-col .my-qualities .my-qualities__icon {
  width: 21px;
  height: 18px;
  background-image: url("img/like.png");
  background-size: cover;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.content .right-col .my-qualities .my-qualities__text {
  margin-bottom: 10px;
  margin-left: 10px;
  color: black;
  font-size: 30px;
}
.content .right-col .my-qualities .line {
  width: 400px;
  margin-bottom: 20px;
  margin-left: 35px;
  border-width: 1px;
  border-color: #4a4a4a;
}
.content .right-col .my-qualities .my-qualities__content {
  height: 198px;
  margin-left: 35px;
}
.content .right-col .my-qualities .my-qualities__content li {
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */